[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/minimo"]
	path = themes/minimo
	url = https://github.com/MunifTanjim/minimo
[submodule "gruvhugo"]
	path = themes/gruvhugo
	url = https://gitlab.com/avron/gruvhugo.git
[submodule "mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad
[submodule "themes/LeaveIt"]
	path = themes/LeaveIt
	url = https://github.com/liuzc/LeaveIt.git
[submodule "themes/academia-hugo"]
	path = themes/academia-hugo
	url = https://github.com/themefisher/academia-hugo.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
